.comprar {
    background-image: url(./Images/comprarfoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    color: white;
    padding-top: 5%;
    padding-left: 5%;

    .juega {
        color: white;
        padding-bottom: 20px;
    }

    .textoJuega {
        padding-bottom: 20px;
    }
}

